/* Prototype Application Developer Documentation */

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 11pt;
    margin: 20px 40px 20px 20px;
}

body a {
	color: #47C3CD;
	text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

h1,h2,h3 {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    margin: 20px 0 8px 0;
    padding: 0;
}

p {
    margin: 2px 0 10px 0;
    padding: 0;
}

.table {
    margin: 2px 0 0 0;
}

.table table {
    margin: 2px 0 0 0;
    font-size: inherit;
    border-collapse: collapse;
    text-align: left;
}

.table td {
    font-size: inherit;
    padding: 8px; 
    border: 1pt solid #CCCCCC;
    vertical-align: top;
}

.table th {
    font-size: inherit;
    padding: 8px; 
    border: 1px solid #000000;
    vertical-align: top;
}

.informaltable table {
    border-collapse: collapse;
    text-align: left;
}

.informaltable td {
    padding: 8px; 
    border: 1pt solid #CCCCCC;
    vertical-align: top;
}

.informaltable th {
    padding: 8px; 
    border: 1px solid #000000;
    vertical-align: top;
}

.copyright, .address, .legalnotice  {
    font-size: smaller;
}

.legalnotice {
    font-style: italic;
}

.address {
    font-style: normal;
}

.warning {
    border-left: 3px solid red;
    padding-left: 10px;
}

.warning h3.title {
    color: red;
    margin-bottom: 0;
}

.warning p {
    margin-top: 0;
}

.caution {
    border-left: 3px solid orange;
    padding-left: 10px;
}

.caution h3.title {
    color: orange;
    margin-bottom: 0;
}

.caution p {
    margin-top: 0;
}

.note {
    border-left: 3px solid blue;
    padding-left: 10px;
}

.note h3.title {
    color: blue;
    margin-bottom: 0;
}

.note p {
    margin-top: 0;
}

.command {
    font-family: "Courier", monospace;
    font-size: 90%;
}

.parameter {
    font-family: "Courier", monospace;
    font-size: 90%;
}

.userinput {
    font-family: "Courier", monospace;
    font-size: 90%;
}

.firstterm {
    font-style: italic;
}

.citetitle {
    font-style: italic;
}

.filename {
    font-style: italic;
}

.guilabel {
    font-style: italic;
}

.varname {
    font-style: italic;
}

.methodname {
    font-style: italic;
}

.guibutton {
    font-weight: bold;
}

.classname {
    font-weight: bold;
}

.itemizedlist li p {
    position: relative;
    margin: 0 10px 5px 5px;
}

.itemizedlist .note p {
    margin: 0 10px 8px 0;
}

.orderedlist li p {
    position: relative;
    margin: 0 10px 5px 5px;
}

.procedure {
    /* no adjustments */
}

.programlisting {
    background-color: #DDDDDD;
    padding: 5pt 5pt 5pt 8pt;
    font-family: "Courier", monospace;
    font-size: 80%;
    line-height: 100%;
    overflow-x: auto;
}

.simplesect {
	margin-left: 30px;
}

#header-branding-block {
    border-bottom: 2px solid #666666;
    width: 100%;
}

#header-branding-logo {
    float: left;
    width: 200px;
}

#header-doctitle {
    position: relative;
    font-weight: normal;
    font-size: 175%;
}

#header-search {
    float: right;
    width: 250px;
    border: none;
}

#header-search-entry {
    float: left;
    width: 150px;
    border: 1pt solid #999999;
    color: #CCCCCC;
}

#header-search-button {
    margin-left: 160px;
    border: 1px solid gray;
    background-color: #CCCCCC;
    color: #666666;
    text-align: center;
}

#menu-top {
    padding: 10px 0 3px 0;
    margin: 0;
    border-bottom: 2px solid #666666;
    list-style-type: none;
    text-align: left; /* alignment for the entire menu */
}

#menu-top li {
    display: inline;
    margin: 0;
}

#menu-top li a {
    text-decoration: none;
    padding: 3px 20px;
    margin-right: 2px;
    border: 1px solid gray;
    background-color: #CCCCCC;
    border-bottom: none;
    color: #666666;
}

#menu-top li a:hover {
    background-color: #5D8EBB;
    color: #EEEEEE;
}

#menu-top li a:active {
    color: black;
}

#menu-top li.selected a {
    background-color: white;
    border-bottom: 3pt solid white;
}

#menu-left {
    margin: 0;
    padding: 10px 5px 0 0;
    width: 200px;
    float: left;
    border-right: 1pt solid #666666;
    font-size: smaller;
    overflow: auto;
}

#menu-left ul {
    list-style-type: none;
    margin-left: -40px;
}

#menu-left li li {
    padding-left: 15px;
}

.book, .part, .chapter {
    margin-left: 250px;
    min-height: 300px;
    overflow: auto;
}

#footer-branding-block {
    padding: 20px 10px 3px 10px;
    border-top: 2px solid #666666;
    width: 100%;
}

#footer-branding-logo {
    float: left;
    width: 200px;
    height: 100px;
}

#footer-branding-legal {
    position: relative;
    font-size: 80%;
}

#live_query_form {
    /* form container */
}

#live_query_form-row1 {
    padding-top: 8pt;
}

#live_query_form-userrole {
    float: left;
    font-weight: bold;
}

#live_query_form-apiversion {
    float: right;
    margin-right: 100px;
    font-weight: bold;
}

#live_query_form-row2 {
    clear: both;
    padding-top: 8pt;
    font-weight: bold;
}

#live_query_form-row3 {
    padding-top: 8pt;
    font-weight: bold;
}

.resource-title {
    padding: 3px 20px;
    margin-right: 2px;
    border: 1px solid gray;
    background-color: #CCCCCC;
    color: #000000;
    font-weight: bold;
}
.resource-information {
    /* clear: both; */
}
.resource-information-col1 {
    float: left;
}
.resource-uri {
    padding-top: 8px;
}
.resource-uri-label {
    float: left;
    padding-right: 10px;
    font-weight: bold;
}
.resource-uri-structure {
    font-style: italic;
}
.resource-description {
    margin-right: 270px;
    padding-top: 8px;
}
.resource-parameters {
    margin-right: 270px;
    padding-top: 8px;
}
.resource-parameters-label {
    font-weight: bold;
}
.resource-parameters-table {
    border: 1pt solid #666666;
}
.resource-information-col2 {
    position: absolute;
    right: 42px;
}
.resource-methods_and_availability {
    padding: 3pt 5pt;
    width: 225px;
    min-height: 300px;
    border: 1pt solid #666666;
    background-color: #EEEEEE;
}
.resource-example {
    clear: both;
    padding-top: 8px;
    min-height: 200px;
}
.resource-example-request {
    font-weight: bold;
}
.resource-example-response {
    font-weight: bold;
}


    
