<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rollin' With Thyme</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}"/>-->
    <script type="text/javascript" src="/webjars/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>

<body>
<h1>Such error!</h1>
<h2 th:text="${errorMessage}"></h2>
</body>

</html>