<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
    <head>
        <title>Hello!</title>
    </head>

    <body>

        <div layout:fragment="content">
            <div class="page-header">
                <h1 th:text="${message}">Greeting</h1>
            </div>
            <p class="lead">
                Thank you for registering with inBloom, you're almost done.
            </p>
            <p>To complete your registration...</p>
        </div>

    </body>

</html>