<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
    <head>
        <title>Create your Password</title>
    </head>

    <body>

        <div layout:fragment="content">

            <div class="page-header">
                <h1>Create your Password</h1>
            </div>
            <p class="lead">
                Welcome to inBloom!
            </p>


            <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>

            <div style="position: relative">

                <div style="left: 0; width: 50%; position: absolute">

                <form class="form-horizontal" th:action="@{/email_validation}" method="post">
                    <fieldset>

                        <input type="hidden" name="validationToken" th:value="${validationToken}"/>

                        <!-- Password input-->
                        <div class="form-group control-group">
                            <label class="col-md-4 control-label" for="passwordinput1">Choose a Password</label>
                            <div class="col-md-6 controls">
                                <input id="passwordinput1" name="password" type="password" placeholder="" class="form-control input-md" oninput="testValidation()"
                                       required=""
                                       minlength="8" data-validation-minlength-message="8 character minimum length"
                                       data-validation-uppercase-regex=".*[A-Z].*[A-Z].*" data-validation-uppercase-message="2 upper case"
                                       data-validation-lowercase-regex=".*[a-z].*[a-z].*" data-validation-lowercase-message="2 lower case"
                                       data-validation-digit-regex=".*[0-9].*" data-validation-digit-message="1 digit"
                                       data-validation-special-regex=".*[!@#$%^*+?\x26\x2D].*" data-validation-special-message="1 special character"
                                        />
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group control-group">
                            <label class="col-md-4 control-label" for="passwordinput2">Confirm Password</label>
                            <div class="col-md-6 controls ">
                                <input id="passwordinput2" name="password2" type="password" placeholder="" class="form-control input-md" oninput="testValidation()"
                                       data-validation-match-match="password" data-validation-match-message="passwords must match"/>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="control-group">
                            <!--<label class="col-md-4 control-label" for="3) Get Started!">Get Started!</label>-->

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-6">
                                <button id="cancel" type="button" name="cancel" class="btn btn-default btn-lg" onclick="doCancel()">Cancel</button>
                                <button id="submit" name="submit" class="btn btn-success btn-lg" disabled="">Submit</button>
                            </div>

                        </div>

                    </fieldset>
                </form>

                </div>

                 <div style="right: 0; width: 50%; position: absolute">

                     <b>Passwords must be at least 8 characters and contain:</b>
                     <ul>
                         <li>At least 2 upper case letters</li>
                         <li>2 lower case letters</li>
                         <li>1 digit</li>
                         <li>1 special character (&#33;&#64;&#35;&#36;&#37;&#94;&amp;&#42;&#45;&#43;?)</li>
                     </ul>

                 </div>

            </div>

        </div>

    </body>

</html>

<script type="text/javascript">
    $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>

<script type="text/javascript">
    var testValidation = function()
    {
        if ($('#passwordinput1').jqBootstrapValidation('hasErrors') || $('#passwordinput2').jqBootstrapValidation('hasErrors')) {
            $('#submit').attr('disabled', "");
        }
        else {
            $('#submit').removeAttr("disabled");
            $('#submit').focus();
        }
    }
</script>

<script>
    var doCancel = function()
    {
        window.location="/login"
    }
</script>

